<!DOCTYPE html>
<html>
<head>
    <title>Edit Metric</title>
    <link rel="stylesheet" href="/css/403projectStyle.css">
</head>
<body>
    <header>
        <h1>Edit Metric</h1>
    </header>
    <main>
        <section>
            <form action="/editMetric/<%= metric.metricID %>" method="POST">
                <!-- Weight -->
                <label for="weight">Weight</label>
                <input type="number" id="custWeight" name="custWeight" value="<%= metric.custWeight %>">
                
                <!-- Height -->
                <label for="height">Height</label>
                <input type="text" id="custHeightIN" name="custHeightIN" value="<%= metric.custHeightIN %>">
                
                <!-- BMI -->
                <label for="bmi">BMI</label>
                <input type="number" id="custBMI" name="custBMI" value="<%= metric.custBMI %>" step=".01">
                
                <!-- Calories Consumed -->
                <label for="caloriesConsumed">Calories Consumed</label>
                <input type="number" id="caloriesConsumed" name="caloriesConsumed" value="<%= metric.caloriesConsumed %>">
        
                <!-- Calories Burned -->
                <label for="caloriesBurned">Calories Burned</label>
                <input type="number" id="caloriesBurned" name="caloriesBurned" value="<%= metric.caloriesBurned %>">
        
                <!-- Record Date -->
                <label for="recordDate">Record Date</label>
                <input type="date" id="recordDate" name="recordDate" value="<%= metric.recordDate.toISOString().split('T')[0] %>">
        
                <!-- Submit Button -->
                <button type="submit">Save Changes</button>
            </form>
        </section>
    </main>
</body>
</html>