<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/403projectStyle.css">
    <title>Goals</title>
</head>
<body>
    <header>
        <h1>Goals</h1>
    </header>
    <nav>
        <a href="/"><button class="link">Home</button></a>
        <a href="goals"><button class="link">Goals</button></a>
        <a href="healthMetrics"><button class="link">Health Metrics</button></a>
        <a href="login"><button class="link">Login</button></a>
    </nav>
    
    <main>
        <section>
            <h1>My Goals</h1>
        <!-- Table to display goals -->
            <table>
                <thead>
                    <tr>
                        <th hidden>Goal ID</th>
                        <th>Goal</th>
                        <th>Status</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody id="goaltable">
                    <% if (goals.length > 0) { %>
                        <% goals.forEach(row => { %>
                        <tr>
                            <input type="hidden" value="row.goalid">
                            <td hidden><%= row.goalid %></td>
                            <td><%= row.goaldescription %></td>
                            <td>
                                <form action="/editGoal/<%= row.goalid %>" method="POST">
                                    <input type="checkbox" id="goalstatus" name="goalstatus" value='true' <%= row.goalstatus ? 'checked' : '' %> onchange="this.form.submit()">
                                </form>
                            </td>
                            <td>
                                <form action="/editGoal/<%= row.goalid %>" method="GET">
                                    <button type="submit">Edit</button>
                                </form>
                            </td>
                            <td>
                                <form action="/deleteGoal/<%= row.goalid %>" method="POST">
                                    <button type="submit" onclick="return confirm('Are you sure you want to delete this goal? This cannot be undone.');">Delete</button>
                                </form>
                            </td>
                        </tr>
                        <% }) %>
                    <% } else { %>
                        <tr>
                            <td colspan="4">You haven't created any goals yet. Add one below to get started!</td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        <br>
        <form action="/addGoal" method="GET">
            <button type="submit">Add Goal</button>
        </form>
        </section>
    </main>
    <footer>
        <p>Created by Madison Hein, Josh Locke, Harmony Tayler, and Anna Young</p>
    </footer>
</body>
</html>